<h1>{{appName}}</h1>
<input type="text" name="price" [(ngModel)]="priceMax">
<div class="row">

    <div class="col-md-3" *ngFor="let product of list; let i=index">
            <div class="card" style="width: 18rem;" *ngIf="product.price<priceMax || priceMax==null">
              <img src="{{product.picture}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">
                  price: {{product.price}}
                  <br>
                  quantity: {{product.quantity}}
                </p>
                <button (click)="incrementLike(product)"
                class="btn btn-sm btn-primary">
                  like {{product.nbrLike}}
                </button>
                &nbsp;
                <button (click)="buyProduct(i)"
                class="btn btn-sm btn-warning"
                [disabled]="product.quantity==0">
                  buy
                </button>
                <button class="btn btn-danger btn-sm"
                (click)="deleteProduct(product.id, i)">
                  Delete
                </button>
                <a [routerLink]="['/product',product.id]">
                 <p>detail product</p>
                </a>

                <p *ngIf="product.quantity==0">
                  out of stock :(
                </p>
              </div>
            </div>
    </div>
</div>

